/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageWrapper {
  display: grid;
  grid-template-columns: minmax(10%, 1fr) minmax(auto, 1000px) minmax(10%, 1fr);
  grid-template-areas: "header header header" ". resume .";
}