/* HeaderBar.css */
.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4d4d4d;
  z-index: 1;
  transition: height 0.3s, padding 0.3s;
  display: flex;
  justify-content: space-between;
}

.headerBar.shrinking {
  height: 5rem;
}